*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header-img{
    padding: 0px 20px;
    width: 100%;
    height: 676px;
    background-image: url(images/BG.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

} 
.header{
    /* background: pink; */
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1{
    font-weight: 700;
    font-size: 28px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}
.logo a{
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    color: white;
}
.btn1 {
    padding: 9px 20px;
    text-align: center;
    background: #473BF0;
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 6px;
}


.btn1 a{
    text-decoration: none;
    color: white;
}
@media only screen and (max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .header-img{
        width: 100%;
        height: 700px;
        background-image: url(images/BG.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    .header{
        /* background: pink; */
        color: white;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        list-style-type: none;
        flex-direction: column;
    } 
}
.container {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
.head{
    margin-top: 80px;
}
.head h1{
    color: white;
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 65px;
}
.head p{
    color: #FFFFFF;
    margin-bottom: 35px;
    line-height: 26px;
    font-weight: 400;
}
.btn2 {
    padding: 9px 20px;
    text-align: center;
    background: #473BF0;
    color: white;
    border: none;
    border-radius: 6px;
}

.btn2 a{
    text-decoration: none;
    color: white;
}
@media only screen and (max-width: 767px){
    .head{
        margin-top: 60px;
        text-align: center;
    }
    .head h1{
        margin-top: -30px;
        font-size: 30px;
        line-height: 35px;
    }
}
.section{
    padding: 60px 0px;
}
.section1-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.section1-row .section1-colunm{
    width: 33.33%;
    padding: 0 15px;
}
.heading{
    display: flex;
    align-items: center;
    justify-content:center ;
    gap: 25px;
}
.heading h1{
    font-weight: 700;
    font-size: 48px;
    color: #161C2D;
}
.heading p{
    font-size: 17px;
    font-weight: 400;
    line-height: 29px;
    color: #161C2D;
}
@media only screen and (max-width: 991px){
    .section{
        padding: 40px 0px;
    }
    .section1-row .section1-colunm{
        width: 33.33%;
        padding: 0 15px;
    }
}
@media only screen and (max-width: 767px){
    .section1-row .section1-colunm{
        width: 100%;
        padding: 0 15px;
        flex-direction: column;
    }
    .heading{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
    .heading p{
        margin-bottom: 25px;
    }
}
.section.section2{
    padding-bottom: 50px;
}
.section2-row{
    display: flex;
    flex-wrap: wrap;
}
.section2-row img{
    width: 100%;
}
.section2-colunm a{
    font-size: 15px;
    line-height: 17px;
    font-weight: 400;
    text-decoration: none;
    color: #161C2D;
}
.sec2-border {
    display: flex;
    justify-content: space-between;
}
.section2-row .section2-colunm{
    width: 25%;
    padding: 0 15px; 
}
.section2-head{
    text-align: center;
}
.section2-head h1{
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 17px;
    color: #161C2D;
}
.section2-head p{
    color: #161C2D;
    font-size: 17px;
    font-weight: 400;   
    line-height: 29px;
    margin-bottom: 80px;
}
.sec2-border{
    border: 1px solid gray;
    border-radius: 0 0 10px 10px ;
    padding: 15px;
    margin-bottom: 50px;
}
@media only screen and (max-width: 991px){
    .section2-row img{
        width: 100%;
    }
    .section2-row .section2-colunm{
        width: 25%;
        padding: 0 15; 
    }
    .section2-head h1{
        margin-bottom: 10px;
    }
    .section2-head p{
        margin-bottom: 50px;
    }
}
@media only screen and (max-width: 767px){
    .section2-row .section2-colunm{
        width: 100%;
        padding: 15px 0; 
    }
    .sec2-border{
        margin-bottom: 10px;
    }
    .section2-row img{
        width: 100%;
    }
    .section2-head p {
        margin-bottom: 10px;
    }   
}
.section3{
    background: #F4F7FA;
}
.section3-row{
    display: flex;
    flex-wrap: wrap;
}
.section3-colunm img{
    border-radius: 10px;
    width: 100%;
}
.section3-row .section3-colunm{
    width: 50%;
    padding: 0 30px; 
}
.section3-box{
    display: flex;
    gap: 20px;
}
.section3-head{
    text-align: center;
}
.section3-head h1{
    color: #161C2D;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 17px;
}
.section3-head p{
    color: #161C2D;
    font-size: 17px;
    font-weight: 400;   
    line-height: 29px;
    margin-bottom: 74px;
}
.section3-box h3{
    background-color:#473bf017;
    padding: 10px;
    font-size: 17px;
    font-weight: 400;
    border-radius: 50%;
    color: #473BF0;
}
.section3-box p{
    color: #161C2D;
    line-height: 25px;
    font-size: 15px;
    margin-bottom: 50px;
}
.section3-box-inr h2{
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 10px;
}
@media only screen and (max-width: 991px){
    .section.section.section3 {
        padding-bottom: 40px;
    }
    .section3-row .section3-colunm{
        width: 50%;
        padding: 0 15px; 
    }  
    .section3-box p{
        margin-bottom: 35px;
    }
    .section3-head p{
        margin-bottom: 25px;
    } 
    .section3-box-inr h2{
        margin-bottom: 5px;
    }
} 
@media only screen and (max-width: 767px){
    .section3-row .section3-colunm{
        width: 100%;
        padding: 0 15px; 
    } 
    .section3-box{
        justify-content: center;
    }
    .section3-colunm img{
        width: 100%;
        border-radius: 10px;
        margin-bottom: 15px;
    }
    .section3-box p{
        margin-bottom: 35px;
    }
    .section3-box-inr{
        margin-bottom: 0px;
    }
    
}
.section.section.section4{
    padding: 20px;
}
.section4{
    background: #473BF0;
}
.section4-inr{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.section4-inr span{
    background-color: white;
    padding: 3px 9px;
    color:  #473BF0;
    border-radius: 50px;
}
.section4-inr p{
    font-size: 17px;
    font-weight: 400;
    color: white;
}
.section4-inr a{
    /* text-decoration: none; */
    color: white;
}
    /* @media only screen and (max-width: 767px){
        .section4-inr{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }
    } */
@media only screen and (max-width: 767px){
    .section4-inr{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
}
.section5-inr{
    display: flex;
    flex-wrap: wrap;
}
.section5-inr .section5-colunm{
    width: 33.33%;
    padding: 0px 10px;
}
.section5-inr-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.section5-colunm{
    text-align: center;
}
.banner{
    margin-bottom: 50px;
}
.section5-colunm h4{
    font-size: 20px;
    line-height: 31px;
    font-weight: 700;
    margin-bottom: 50px;
}
.section5-inr-box2{
    text-align: start;
}
.section5-inr-box2 h5{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 7px;
}
.section5-inr-box2 p{
    font-size: 15px;
    color: #161C2D;
    font-weight: 400;
}
@media only screen and (max-width: 991px){
    .section5-inr .section5-colunm{
        width: 33.33%;
        padding: 0px 10px;
    }
    .banner{
        margin-bottom: 20px;
    }
    .section5-colunm h4{
        margin-bottom: 25px;
    }
}
@media only screen and (max-width: 767px){
    .section.section{
        padding-bottom: 10px;
    }
    .section5-inr .section5-colunm{
        width: 100%;
        padding: 0px 10px;
    }
    .banner{
        margin-bottom: 10px;
    }
    .section5-colunm h4{
        margin-bottom: 15px;
    }
    .section5-inr-box{
        margin-bottom: 40px;
    }
}
section.section.section6 {
    padding: 100px 0px;
}
.section6{
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.932) , rgba(51, 46, 46, 0.582));
}
.section6-inr{
    display: flex;
    flex-wrap: wrap;
}
.section6-inr .section6-colunm{
    width: 50%;
    padding: 0px 10px;
}
.form{
    height: auto;
    text-align: start;
    align-content: start;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    /* background-color: red; */
}
.main-slet{
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 20px;
    flex-direction: column;
    padding: 20px 15px;
    background-color: white;
    color: black;
    border-radius: 10px;
}
.main-slet label{
    font-size: 15px;
    font-weight: 500;
}
.main-slet input{
    border: 1px solid #E7E9ED;
    height: 30px;
    width: 180px;
    padding-left: 10px;
    font-size: 13px;
}
.section6-colunm {
    color: white;
}
.section6-colunm p{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff88;
    line-height: 30px;
}
.section6-colunm img{
    padding: 15px;
    border-radius: 50%;
    background-color: gray;
    margin-top: 30px;
    margin-bottom: 46px;
}
.section6-colunm h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 18px;
}
.consultancy_btn{
    height: 37px;
    width: 180px;
    border: none;
    border-radius: 7px;
    background-color: #473BF0;
}
.consultancy_btn  a{
    color: white;
    text-decoration: none;
} 
#manu_section{
    border: 1px solid #E7E9ED;
    height: 30px;
    width: 180px;
    padding-left: 10px;
}
.main_slet label{
    font-size: 15px;
    font-weight: 700;
    color: #161C2D;
}
@media only screen and (max-width: 991px){
    .section.section.section6{
        padding: 30px 50px;
    }
    .section6-inr .section6-colunm{
        width: 50%;
        padding: 0px 10px;
    }
}
@media only screen and (max-width: 767px){
    .section6-inr .section6-colunm{
        width: 100%;
        padding: 0px 10px;
    }
    .section6-colunm{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .section6-colunm img {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .section6-colunm p{
        margin-bottom: 20px;
    }
}

.section7-inr{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.section7-inr .section7-colunm{
    width: 50%;
}
.section7-colunm h1{
    font-size: 26px;
    line-height: 38px;
    font-weight: 700;
}
.input-btn{
    text-align: end;
}
.input-btn input{
    border: 1px solid #E7E9ED;
    height: 32px;
    width: 180px;
    border-radius: 7px;
    padding-left: 10px;
    font-size: 13px;
}
.input-btn button{
    height: 32px;
    width: 180px;
    border: none;
    border-radius: 7px;
    background-color: #473BF0;
}
.input-btn button a{
    text-decoration: none;
    color: white;
}
.input-btn button i{
    padding: 0px 0px 0px 50px;
}
@media only screen and (max-width: 991px){
    .section7-inr .section7-colunm{
        width: 50%;
    }
}
@media only screen and (max-width: 767px){
    .section7-inr .section7-colunm{
        width: 100%;
    }
    .input-btn{
        text-align: center;
        margin-bottom: 15px;
    }
    .section7-colunm h1{
        text-align: center;
        margin-bottom: 15px;
    }
}


.footer-inr{
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-bottom: 60px;
}

.footer-inr h4 a{
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(80, 63, 63);
}
.footer-inr p {
    margin-top: 16px;
    font-weight: 400;
    margin-bottom: 7px;
    color: #161C2D;
}
.company a{
    text-decoration: none;
    color: black;
}
.contactus p{
    margin-top: 15px;
}
.contactus p a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    color: #473BF0;
}
.footer-inr2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.footer-inr2 p{
    font-size: 15px;
    font-weight: 400;
}
.logos{
    display: flex;
    gap: 26px;
}
@media only screen and (max-width: 991px){
    .footer-inr{
        display: flex;
        justify-content: space-around;
        align-items: start;
        margin-bottom: 60px;
    }
}
@media only screen and (max-width: 767px){
    .section.section {
        padding-bottom: 10px;
        padding-top: 20px;
    }
    .footer-inr{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin-bottom: 60px;
        flex-direction: column;
    }
    .footer-inr h5 {
        margin-bottom: 5px;
    }
    .footer-inr p {
        margin-bottom: -9px;
    }
    .contactus p{
        margin-top: 10px;
    }
    .footer-inr h4 {
        margin-top: 30px;
    }
    .contactus p{
        margin-top: 15px;
    }
    .footer-inr2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}